<h4> Testing Page </h4>

<button ng-click="edamam()">Edamam Add</button>

<div class="container" style="width:100%;">
  Get Nutrition information:

  <li><label>Ingredient</label><input type='text' ng-model="edamamIngredient.ingredient"/></li>
  <li><label>Quantity</label><input type='number'ng-model="edamamIngredient.quantity"/></li>
  <li><label>Measure</label><input type='text' ng-model="edamamIngredient.measure"/></li>
  <button type="submit">Get Info</button>
</div>

<div class="container" style= "width:100%">
  <h5> Get Recipe Nutrition Info</h5>

  <li><label>Title</label><input type='text'/></li>
  <li><label>Yield</label><input type="text"/>
      <label>Yield Quantity</label><input type="text"/>
  </li>
  <li><label>Ingredient</label><input type='text'/>
      <li><label>Quantity</label><input type='number'/></li>
      <li><label>Measure</label><input type='text'/></li>
      <button>Add another Ingredient</button>
  </li>

</div>
