
<div style="border: solid 1px black; position:fixed; height:70%; width:70%; z-index:100;  top:20%;left:20%; background-color:white; overflow:scroll;">
  <div class "row">
    <div class="col-md-2">
      <!-- <button type='button' ng-click="viewMeal(-1)">Close</button> -->
      <button type='button' ui-sref="userMP.userBrowse">Close</button>

      <button type='button' ui-sref="userMP.userBrowse.viewRecipe.recipeAddToCalendar">Add Calendar</button>
      <button type='button'  ui-sref="mealPlanner.browse.add">Instructions</button>
      <button type='button'  ui-sref="mealPlanner.browse.add">Ingredients</button>
      <button type='button' ui-sref="userMP.userBrowse.viewRecipe.recipeNutrition">Nutrition</button>
      <button type='button'  ui-sref="userMP.userBrowse.viewRecipe.addToList">Add To List</button>
      <button type='button'  ui-sref="mealPlanner.browse.comments">Comments</button>

    </div>
    <div class="col-md-10">
      <h5>{{currentRecipeView.recipe.title}}</h5><br>
      see more images, add to favorites, comment, add to calendar, view nutrition information, view preperation instructions, view ingredients
      <div ui-view></div>
    </div>
    <br><br><br>

      Source: recipe

  </div>

</div>
