<div class="jumbotron" style='background-color:purple; margin-top: 5%;'>
  <div class="col-md-3"  >

            <ul class="sidebar-nav" style='background-color:white;'>
                <li>
                    <a href="#" ui-sref="myHealth.tracker">Health Tracker</a>
                </li>
                <li>
                    <a href="#" ui-sref="myHealth.mealConfig">Meal Preference</a>
                </li>
                <!-- <li> <a href="#">Nutrition Preferences</a>
                </li> -->
                <li> <a href="#" ui-sref="myHealth.healthConfig">My Health Information</a>
                </li>
            </ul>
</div>
<div class="col-md-9">
  <div ui-view>

  </div>
  <!-- <div class="form-group">
      <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
      <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
  </div> -->
</div>
</div>
