<div class="container" style="background-color:white;">
  <h4>Care to share your eating habits?</h4> Store this information as preloaded information on Calendar add, and add food preferences to consideration for recipe browse<br>
  <div class="col-md-6">
    <div class="form-group">
      <!-- <div class="row"> -->
      <label for="breakfasttime">When do you like to eat breakfast? (keep in mind to not eat too early/too late/ right before bed?)</label>
      <div
        style=" float:left; margin-right:5px;"
        uib-timepicker
        ng-model="event.breakfast.startsAt"
        hour-step="1"
        minute-step="15"
        show-meridian="true">

      </div><br>
       <div
        style=" float:left; margin-right:5px;"
        uib-timepicker
        ng-model="event.breakfast.endsAt"
        hour-step="1"
        minute-step="15"
        show-meridian="true">
      </div>
      <!-- <input type="text" placeholder="duration"> -->
    <!-- </div> -->
    </div>
    <br>
    <div class="form-group">
      <div class= "row">


        <p><label for="lunchtime">How about lunch?</label></p>
        <div
          style=" float:left; margin-right:5px;"
          uib-timepicker
          ng-model="event.lunch.startsAt"
          hour-step="1"
          minute-step="15"
          show-meridian="true">
        </div>
        <div
          style=" float:left; margin-right:5px;"
          uib-timepicker
          ng-model="event.lunch.endsAt"
          hour-step="1"
          minute-step="15"
          show-meridian="true">
        </div>
      </div>
      <!-- <input type="text" id="password"  ng-model="vm.user.password" placeholder="duration"/> -->
    </div>
    <div class="form-group">
      <p><label for="dinnertime">Dinner?</label></p>
      <p>start finish</p>
      <div
        style=" float:left; margin-right:5px;"
        uib-timepicker
        ng-model="event.dinner.startsAt"
        hour-step="1"
        minute-step="15"
        show-meridian="true">
      </div>

      <div
        style=" float:left; margin-right:5px;"
        uib-timepicker
        ng-model="event.dinner.endsAt"
        hour-step="1"
        minute-step="15"
        show-meridian="true">
      </div>
    </div>
<br>
      Are you a snacker? <br>
      <input type="radio" name="snacker" ng-click="snack=!snack" ng-model="vm.user.SnackInfo.yes" value="yes"> Yes<br>
      <input type="radio" name="snacker" ng-click="snack=!snack" ng-model="vm.user.SnackInfo.no" value="no"> No

      <!-- <button ng-click="addSnackInfo();">Add Snack Information</button> -->
      <div ng-show="snack">
         Duration: <input type="text">
         Time: <input type="text">
         <button ng-click="addSnack();">Add more snacks</button>
        <div ng-repeat="snackinfo in snacks">
            Snack Title: <input type="text"/>
            Duration: {{snackinfo.duration}}<br>
            Time: <select>
              <option value="12:00 AM">12:00 AM</option>
              <option value="12:30 AM">12:30 AM</option>
              <option value="1:00 AM">1:00 AM</option>
              <option value="1:30 AM">1:30 AM</option>
              <option value="2:00 AM">2:00 AM</option>
              <option value="2:30 AM">2:30 AM</option>
              <option value="3:00 AM">3:00 AM</option>
              <option value="3:30 AM">3:30 AM</option>
              <option value="4:00 AM">4:00 AM</option>
              <option value="4:30 AM">4:30 AM</option>
              <option value="5:00 AM">5:00 AM</option>
              <option value="5:30 AM">5:30 AM</option>
              <option value="6:00 AM">6:00 AM</option>
              <option value="6:30 AM">6:30 AM</option>
              <option value="7:00 AM">7:00 AM</option>
              <option value="7:30 AM">7:30 AM</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="8:30 AM">8:30 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="9:30 AM">9:30 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="10:30 AM">10:30 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="11:30 AM">11:30 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="12:30 PM">12:30 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="1:30 PM">1:30 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="2:30 PM">2:30 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="3:30 PM">3:30 PM</option>
              <option value="4:00 PM">4:00 PM</option>
              <option value="4:30 PM">4:30 PM</option>
              <option value="5:00 PM">5:00 PM</option>
              <option value="5:30 PM">5:30 PM</option>
              <option value="6:00 PM">6:00 PM</option>
              <option value="6:30 PM">6:30 PM</option>
              <option value="7:00 PM">7:00 PM</option>
              <option value="7:30 PM">7:30 PM</option>
              <option value="8:00 PM">8:00 PM</option>
              <option value="8:30 PM">8:30 PM</option>
              <option value="9:00 PM">9:00 PM</option>
              <option value="9:30 PM">9:30 PM</option>
              <option value="10:00 PM">10:00 PM</option>
              <option value="10:30 PM">10:30 PM</option>
              <option value="11:00 PM">11:00 PM</option>
              <option value="11:30 PM">11:30 PM</option>
            </select>
            <button>Remove Snack</button>
        </div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
          <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>What are your favorite foods?</label><input type="text"/>(have pop up that ensures user enters in a comma delimited list)
        <label>What foods are you averse to</label><input type="text"/>
        Favorite cuisines?
        Vegetarian, vegan, pescaterian etc
        <br>Store this information in a meal Preferences constant
      </div>
    </div>


</div>
