<div class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row" >
                <div class="intro-brand col-md-8 col-md-offset-1">
                    <h1 class="brand-heading">Nourish</h1>
                    <h2>Nutritional Coaching for Cancer Patients</h2>
                    <!-- <p class="intro-text">A free, responsive, one page Bootstrap theme.
                        <br>Created by Start Bootstrap.</p> -->
                    <button  class="btn btn-circle page-scroll" ui-sref="newsletter">
                        Get Started

                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
