<div class = "custom-Articles" style = "height: ">
  <nav class="articles-nav navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="articles-navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="articles-ul nav navbar-nav" style = "">
        <li class="articles-navValue"><a href="#">For you <span class="sr-only">(current)</span></a></li>
        <li class = "articles-navValue"><a href="#">Doctors</a></li>
        <li class = "articles-navValue"><a href="#">Community</a></li>

        <li class = "articles-navValue"><a href="#">Popular</a></li>

        <li class = "articles-navValue" style = "margin-top:1%;">
          <!-- <a href="#">Search</a> -->
          <input type="text" placeholder= 'search' ng-model="customArticleSearchValue"/><button ng-click="customArticleSearch(customArticleSearchValue)">Search</button>
          <button ng-show="searched" ng-click = "reloadPage()">Back</button>
          <!-- <br> -->
          <!-- Repeat Lists of uploaded articles by user
          Clicking should take to edit article page rather than viewer -->
        </li>

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!-- <h4>Custom Articles</h4> -->
  <div class="articles-container container" style="">

    <div class="col-md-12" >

      <!-- <div class="list-group" style =""> -->
        <!--  use ng-click instead of ui-sref to to route to the article view--><br>
        <!-- <a ng-repeat="article in vm.articles" ui-sref="customArticles.view" class="list-group-item"> -->
          <!-- <div > -->
        <!-- <a ng-repeat="article in vm.articles" ui-sref="customArticles.view({ customArticleId: article._id })" class="list-group-item row" >


            Article Id: {{article._id}}
            <small class="list-group-item-text">
              Posted on

                <span ng-bind="article.created | date:'mediumDate'"></span>
                by
                <span ng-if="article.user" ng-bind="article.user.displayName"></span>
                <span ng-if="!article.user">Deleted User</span>
              </small>
              <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
              <p class="list-group-item-text" ng-bind="article.content"></p>
              <p class="list-group-item-text" ng-bind="article.tags"></p>
            </a> -->

            <!-- <div class = "container">
                Preview Info
            </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- <div class = "list-group-item">
        content
      </div> -->
      <div class = 'article-group' style = "">
        <div class= "container " style="" ng-repeat= "article in vm.articles" >
          <div class = "row " style = "">
            <a class= "col-md-8 " ui-sref="customArticles.view({ customArticleId: article._id })" style = "margin-left:-5%;">
              <div  class="outerArticleBubble" style = "float:left;" style = "">
                <!-- <div id="inner1">Rounded Top? No</div>
                <div id="inner2">No Rounding</div>
                <div id="inner3">Rounded Bottom? No</div> -->
                <!-- Article Id: {{article._id}} -->
                <!-- <small class="list-group-item-text">
                  Posted on

                    <span ng-bind="article.created | date:'mediumDate'"></span>
                    by
                    <span ng-if="article.user" ng-bind="article.user.displayName"></span>
                    <span ng-if="!article.user">Deleted User</span>
                </small> -->
                <div class = "article-container">
                  <h4 class="articleBubbleTitle" style="" ng-bind="article.title"></h4>

                </div>
              </div>
              </a>
            <!-- </div> -->
            <div class ="col-md-4" style = "float:right;" ng-click = "alert('direct to author page')">
              <div class = "article-info-container">
                <img style = "background: #f00;width: 128px;  height: 125px;border-radius: 50%;" width="100" height="75" src = "http://previews.123rf.com/images/ateli/ateli1211/ateli121100021/16063756-Watercolor-illustration-of-chef-Stock-Illustration.jpg"/>
                <br>
                <li class = "" style = "font-family: Segue UI;"> <span ng-if="article.user" ng-bind="article.user.displayName"></span></li>
                <small class="list-group-item-text">
                  Posted on

                    <span ng-bind="article.created | date:'mediumDate'"></span>
                    by
                    <span ng-if="article.user" ng-bind="article.user.displayName"></span>
                    <span ng-if="!article.user">Deleted User</span>
                </small>
                <br><br>
                <!-- <p class="list-group-item-text" ng-bind="article.content"></p> -->

                <p style = "font-family: Adobe Myungjo Std;">This is where the article description will go after the input form is modifie to have one</p>
                <p class="list-group-item-text" ng-bind="article.tags"></p>
                <p>Rating: List overall average, on hover, list doctor/user/admin ratings & number of comments</p>
              </div>
            </div>
            <!-- <div id="outer">
                <div id="inner1">Rounded Top? No</div>
                <div id="inner2">No Rounding</div>
                <div id="inner3">Rounded Bottom? No</div>
            </div> -->
          </div> <!--row-->


        </div>
      </div>
      <!-- <div class="col-md-6">
        figure out why the date created is not registering..
        Linking to external website: http://stackoverflow.com/questions/24457962/linking-to-external-url-with-different-domain-from-within-an-angularjs-partial
        <div class="list-group">
          <a ng-repeat="Url in vm.urls"  class="list-group-item">
            Url Title {{Url.created}}
            <br>
            <small class="list-group-item-text">
              Posted on
              <span ng-bind="Url.created | date:'mediumDate'"></span>
              by
              <span ng-if="Url.user" ng-bind="Url.user.displayName"></span>
              <span ng-if="!Url.user">Deleted User</span>
            </small>
            <h4 class="list-group-item-heading" ng-bind="Url.title"></h4>
            <p class="list-group-item-text" ng-bind="Url.description"></p>
            <p class="list-group-item-text" ng-bind="Url.tags"></p>
            <a href="www.sciencedaily.com">Does this link work</a>
          </a>
        </div>

        </div> -->
      </div>
      <div ui-view="viewCustomArticle"></div>
      <div ng-show="cat" ui-view style="border: solid 1px black; position:fixed; height:80%; width:80%; z-index:100;  top:20%;left:10%; background-color:white; overflow:scroll; overflow-x: hidden;"></div>
    </div>

    <button>Next Page</button>
</div>
