<section style="border: solid 1px black; position:fixed; height:80%; width:70%; z-index:100;  top:20%;left:20%; background-color:white; overflow:scroll;">
  <button ui-sref="customArticles">Back</button>
  Hi Custom Article

  Gotta Change the image folder to clientside

  <br>
  <div><h5>Title: {{vm.article.title}}</h5></div>
  Content: {{vm.article.content}} <br>
  Tags: {{vm.article.tags}}
  <!-- Imgs: {{vm.article.imgs[0]}}
  {{vm.article.imgs[0]}} -->
  <!-- <img src="/./modules/articles/client/img/IMG_0316.JPG"  style="width:128px;height:128px;"> -->
  <!-- <img src="/./modules/users/client/img/profile/uploads/IMG_0315.JPG"  style="width:128px;height:128px;"> -->
  <div ng-repeat= "img in vm.article.imgs">
    <img src= "/{{img}}" style="width:128px;height:128px;">
  </div>
  <!-- <img src="/{{vm.article.imgs[0]}}" style="width:128px;height:128px;"> -->
  <!-- <img ngf-src="vm.article.imgs[1]" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop> -->

  <h5>Add In Article Rating</h5>
  <h5>Comments</h5>
  {{vm.article.comments[0]}}
  <div class= "container" style= "width:100%; height:40%; overflow:scroll;">
    <div ng-repeat="comment in article.comments" >
        comment: {{comment.text}} user: {{comment.PostedBy}}
        <button ng-show="vm.user.username=comment.PostedBy" ng-click="removeComment(comment)">Delete</button>


    </div>
  </div>
  <input type='text' ng-model='vm.comment.content' ng-click/><button type="submit" ng-click="addComment()">Submit Comment</button>
  <!-- <h2> ADD IN A COMMENTS SECTION FOR EACH ARTICLE TO BE EXPANDED UPON, MAke sure is its scrollable, lists the username and date of comment and maybe upvotes?</h2> -->
</section>
