<div class="container" style="width:100%;height:100%;  background-color:#F3ECE1;">
  <div class="col-md-2" style="background-color:white;">
    <nav class="navbar ">
      <h3> Manage Favorites</h3>
      Is it better to have these options in main nav or on the side for convenience? Maybe vary for mobile use?
      <ul >
          <li>
              <a href="#" ui-sref="userMP.test">Test</a>
          </li>
          <li>
              <a href="#" ui-sref="userMP.userBrowse">Browse Meals</a>
          </li>
          <li>
              <a href="#" ui-sref="mealPlanner.manageLists">My Favorites</a>
          </li>
          <li> <a href="#" ui-sref="userMP.calendarTest">Have Calendar within this tab?</a>
          </li>
          <li> <a href="#">Manage Leftovers</a>
          </li>
          <li> <a href="#" ui-sref="userMP.addRecipe">Add a recipe</a>
          </li>
      </ul>
    </nav>

  </div>
  <div class="col-md-10">

    <div ui-view>

    </div>
  </div>
</div>
