
<div class="container" style="width:105%; height:100%;">
  <nav class="navbar navbar-custom navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sortbar" aria-expanded="false" ng-click="show=!show" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="margin-left:3%;">Browse: </a>

        </div>
        <div class="collapse navbar-collapse" ng-show="show"id="sortbar">
          <ul class="nav navbar-header" style="text-align:center;margin-top:margin-bottom;">
            <li style="float:left;"><a id= 'dog' href=''style="outline:0; " >Order In</a></li>
            <li style="float:left;"><a id= 'dog' href=''style="outline:0; " >Preprepared</a></li>
            <!-- <li style="float:left;"><a id= 'dog' href=''style="outline:0; " >Duration</a></li> -->
            <li style="float:left;"><a id= 'dog' href=''style="outline:0;"ng-click="manageAdvancedSearch()" >Advanced Search</a></li>

            <li style="float:left;"><div style="float:right">
                <input type="text" placeholder="Search"><button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </li>
            <!-- <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#searchbox" ng-click="searchbox=!searchbox" aria-expanded="false" aria-controls="collapseTwo" >
              <button class="btn btn-primary" type="button" ng-click="manageAdvancedSearch()" >Advanced Search</button>
            </a> -->
            <!-- <li> add recipe </li> -->
          </li>
          </ul>
        </div>
    </div>
  </nav>

  <div class="col-md-3 text-center" ng-repeat="recipe in data" style="   margin-right:15px; ">
      <div class="thumbnail" ng-click="currentRecipe(recipe)" style="height:200px; width: 250px; border-radius:45px;">
        <!-- Call method on each repeat that streamlines text content -->
        <!-- https://spoonacular.com/recipeImages/ -->
          <!-- <img class="img-responsive" src="{{recipe.image}}" alt="" style="width:304px;height:228px;"> -->
          <img class="img-responsive" src="{{recipe.img}}" alt="" style="width:100%; height:100%; z-index=-10; border-radius:45px;">
          <div class="container" style="  z-index:100; width:90%; height:30%; border-radius: 25px;  position:relative; margin-top:-30%; background:rgba(1, 7, 14, 0.51); overflow:scroll;">
              <!-- <div style="height:100px;"> -->
              <div>

                <h3 style=" text-align:center; font-size:15px; color:white;vertical-align:-50px;">{{recipe.title}}
                    <!-- <small style="">  <b>Cook Time:</b>Mins</small> -->
                </h3>
              <!-- <button class="btn btn-primary" type="button" ng-click="getRecipe(recipe.id)">Get Recipe</button> -->
              <!-- <button class="btn btn-primary" type="button" ng-click="alert(recipe.id)">Alert</button> -->
              <!-- <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{recipe.id}}" aria-expanded="false" aria-controls="collapseTwo" ng-click="alert({{recipe.id}})"> -->
              </div>

                <!-- <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{recipe.id}}" aria-expanded="false" aria-controls="collapseTwo" > -->

              <!-- <button class="btn btn-primary" type="button" ng-click="viewMeal(recipe)">Learn More</button> -->
              <!-- Note: pass recipe information to the next uiview, then from controller get recipe information -->

              <!-- <button class="btn btn-primary" type="button"  ng-click="currentRecipe(recipe)">Learn More</button> -->
              <!-- <button class="btn btn-primary" type="button" ui-sref="userMP.userBrowse.viewRecipe">Learn More</button> -->

          </div>
      </div>
  </div>

  <!--Pop Ups for additional windows: search, recipe info display, add to calendar, add to favorites- consider putting everything into a ui-view panel and then using back buttons to navigate between the views-->
  <!-- <div class="container panel-collapse collapse" id='searchbox' role="tabpanel" aria-labelledby="headingOne"  style="border: solid 1px black; position:fixed; height:70%; width:70%; z-index:100;  top:20%;left:20%; background-color:green;">
    <form class="navbar-form" role="search" style="display:inline-block;">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#searchbox" aria-expanded="false" aria-controls="collapseTwo" >
        <button class="btn btn-primary" type="button" ng-click="searchbox=!searchbox">close</button>
      </a>
      <div class="form-group">
              <input class="form-input" type="text"  ng-model="searchData.query" placeholder="Type of Food"/>
              <input class="form-input" type="text"  ng-model="searchData.cuisine" placeholder="Cuisine"/>
              <input class="form-input" type="text"  ng-model="searchData.exclude" placeholder="Exclude Ingredients"/>
              <input class="form-input" type="text"  ng-model="searchData.include" placeholder="Include Ingredients"/>
              <input class="form-input" type="text"  ng-model="searchData.diet" placeholder="Diet"/>
              <input class="form-input" type="text"  ng-model="searchData.intolerances" placeholder="Intolerances"/>
              <input class="form-input" type="text"  ng-model="searchData.mealType" placeholder="Meal Type"/>
              <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
              <button class="btn btn-default" type="submit" ng-click="searchRecipe()"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </form>
  </div> -->

  <div ng-show = "searchBox" class = 'container' style = "border: solid 1px black; position:fixed; height:70%; width:70%; z-index:100; background-color:white;">
      Advanced Search
      <div class = 'col-md-2'>
        <button ng-click = "manageAdvancedSearch()">Close</button>
      </div>
      <div class = 'col-md-10'>
        <div class="form-group">
                <input class="form-input" type="text"  ng-model="advancedSearchParams.query" placeholder="Type of Food"/>
                <input class="form-input" type="text"  ng-model="advancedSearchParams.cuisine" placeholder="Cuisine ie: American, Chinese, Etc."/>
                <input class="form-input" type="text"  ng-model="advancedSearchParams.exclude" placeholder="Exclude Ingredients"/>
                <input class="form-input" type="text"  ng-model="advancedSearchParams.include" placeholder="Include Ingredients"/>
                <input class="form-input" type="text"  ng-model="advancedSearchParams.diet" placeholder="Diet"/>
                <!-- <input class="form-input" type="text"  ng-model="searchData.intolerances" placeholder="Intolerances"/> -->
                <!-- <input class="form-input" type="text"  ng-model="searchData.mealType" placeholder="Meal Type"/> -->
                <!-- <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> -->
                <button class="btn btn-default" type="submit" ng-click="conductAdvancedSearch()"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <div class = 'form-group'>
          <button>Breakfast</button>
          <button>Lunch</button>
          <button>Dinner</button>
          <button>Snack</button>
          <button>Dessert</button>
          <button>My Leftovers</button>
        </div>
      </div>
  </div>

  <div ui-view="viewRecipeOrSearch" style='background-color:green;'></div>


  <!-- <div ng-show="getInfo"  style="border: solid 1px black; position:fixed; height:70%; width:70%; z-index:100;  top:20%;left:20%; background-color:white;">
    <div class="col-md-2">
      <button type='button' ng-click="viewMeal(-1)">Close</button>
      <button type='button' ui-sref="mealPlanner.browse.addMeal">Add Meal to Calendar</button>
      <button type='button'  ui-sref="mealPlanner.browse.add">View Info</button>
      <button type='button'  ui-sref="mealPlanner.browse.add">Add To Favorites</button>
      <button type='button'  ui-sref="mealPlanner.browse.comments">Comments</button>

    </div>
    <div class="col-md-10">

      <div ui-view> </div>
    </div>
  </div> -->

</div>

<!-- <script type="text/ng-template" id="app.html">
      <div>
        <a ui-sref="modal">Click for modal!</a>
        <h3>Welcome to the app</h3>
        <label>Text <input type="text" ng-model="text"></label>
      </div>
      <div ui-view></div>
    </script>


    <script type="text/ng-template" id="modal.html">
      <div class="modal-overlay fade">
        <div class="modal-content">
          <h2>Modal</h2>
          <p>{{text}}</p>
          <a ui-sref="app">Back to the app...</a>
        </div>
      </div>
    </script> -->
